@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://www.youtube.com/watch?v=ZeJISZgy-FM" target="_blank">How to use SQLite in your Blazor WebAssembly apps</a>
			<a href="https://github.com/JeremyLikness/SqliteWasmHelper" target="_blank">GitHub</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
